.game {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  .game-board {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
  }
  
  .board-row {
    display: flex;
  }
  
  .square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: #e9e8e8;
    margin: 2px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    outline: none;
  }
  
  .square:hover {
    background-color: #c2c0c0;
  }
  
  .status {
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: bold;
  }
  
  .game-info {
    margin-top: 20px;
  }
  
  ol {
    padding-left: 20px;
  }
  
  li {
    margin-bottom: 5px;
    margin-left: 20px;
    font-size: 24px;
  }
  
  button {
    background: none;
    border: none;
    color: #3e4da8;
    cursor: pointer;
    font-size: 24px;
    text-decoration: underline;
  }
  
  button:hover {
    text-decoration: none;
  }
